body {
  background-color: #eaefff;
}

/*헤더*/
header {
  display: grid; /*표 처럼 나누고 그 안에 요소들을 넣는 것*/
  grid-template-columns: 1fr 1fr 1fr; /*그리드 칸을 나누는 거임, 나는 같은 크기 3개로 나누고 싶으니까 1fr 3개*/
  align-items: center;
  background-color: #bad2ff;
  padding: 1.2rem;
  min-width: 750px;
}

.leftHeader {
  color: white;
  text-align: left;
}

.centerHeader {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.rightHeader {
  color: white;
  text-align: right;
  font-size: 0.9rem;
}

/*필터*/
.filter {
  margin: 2rem auto;
  background-color: #bad2ff;
  border-radius: 4px;
  width: 60%;
  min-width: 750px; /*최소로 작아질 수 있는 값을 지정해두니까 그 이상 작아졌을 때 스크롤 하도록 나와서 인풋 값이 넘치는 일이 발생하지 않음, 이 방법 말고 다른 방법은 없을까?*/
}

.filter-input {
  display: grid;
  grid-template-columns: repeat(6/1fr);
  padding: 1rem;
  gap: 0.5rem;
}

.filter-name,
.filter-Ename {
  grid-column: 1/7;
}

.filter-github {
  grid-column: 1/3;
}

.filter-gender {
  grid-column: 3/5;
}

.filter-role {
  grid-column: 5/7;
}

.filter-week1team {
  grid-column: 1/4;
}

.filter-week2team {
  grid-column: 4/7;
}

.filter-name,
.filter-Ename,
.filter-github,
.filter-gender,
.filter-role,
.filter-week1team,
.filter-week2team {
  display: flex;
}

.filter label {
  background-color: #e9e9e9;
  min-width: 8rem;
  height: 3.5rem;
  text-align: center; /*세로 중앙 정렬*/
  align-content: center; /*가로 중앙 정렬*/
  color: #51505e;
  font-size: 0.9rem;
  font-weight: 700;
}

.filter input {
  width: calc(100% - 8rem); /* 수식 띄어쓰기 안 하면 안 먹힘!!*/
  border: none; /*검정 테두리 없애기*/
  padding: 0.5rem;
}

.filter select {
  width: 100%;
  border: none;
  padding: 0.5rem;
}

.filter-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.2rem 1rem 0 1em;
  padding-bottom: 1rem; /*왜 하단에는 마진 값이 안 먹히고 패딩 값을 줘야 할까?*/
  gap: 0.5rem;
}

.filter-btn button {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
}

.btn-clear {
  background-color: #a4b1c9;
  color: aliceblue;
  font-size: 0.8rem;
  font-weight: 700;
}

.btn-search {
  background-color: #6f75d3;
  color: aliceblue;
  font-size: 0.8rem;
  font-weight: 700;
}

/*필터에서 부족한 점:
1. 드롭다운 화살표 간격 주기
2. 라벨 크기 안 맞음
3. 화면 크기 줄일 때 백그라운드랑 필터 따로 움직임*/

/*표*/

.table-and-btn {
  text-align: right;
  margin: 1rem auto;
  width: 60%;
  min-width: 750px;
}

.btn-table {
  padding-bottom: 0.5rem;
}

.btn-delete {
  width: 5rem;
  height: 1.8rem;
  background-color: #a4b1c9;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
}
.btn-add {
  width: 5rem;
  height: 1.8rem;
  background-color: #6f75d3;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8rem;
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 1rem;
}

th {
  border: 1px solid aliceblue;
  background-color: #9fbaec;
  color: aliceblue;
  font-weight: 700;
  font-size: 0.9rem;
}

td {
  border: 1px solid #9fbaec;
  font-size: 0.9rem;
}

/*모달*/
.modal {
  background-color: aliceblue;
  width: 23rem;
  padding: 1rem;
}

.modal-content {
  line-height: 200%;
}

.modal-content h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

.modal-content p {
  font-size: 0.9rem;
  font-weight: 600;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.7rem 0;
}

.modal-main {
  padding-bottom: 1rem;
}

.modal input {
  height: 2rem;
  width: 100%;
  padding: 0 8px;
  margin: 0 0 0.6rem 0;
}

.modal select {
  height: 2.3rem;
  width: 70%;
  padding: 0 5px;
  margin: 0 0 0.6rem 0;
}

.btn-modal-add {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #6f75d3;
  color: aliceblue;
}
