body {
  background-color: rgb(246, 236, 236);
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.loginTitle {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
  color: rgb(255, 116, 146);
}

.signupTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
  color: rgb(255, 116, 146);
}

.signupPageName,
.signupPagePw,
.signupPageHobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupNameTitle,
.signupPwTitle,
.signupHobbyTitle {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 0 0.2rem 0.3rem;
}

.loginId,
.loginPw,
.signupName,
.signupPw,
.signupPwCheck,
.signupHobby {
  width: 15rem;
  height: 2rem;
  margin: 0.2rem;
}

.loginBtn,
.nextBtn,
.signupBtn {
  width: 15.5rem;
  height: 2.2rem;
  margin: 0.2rem;
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
  background-color: rgb(250, 187, 196);
}

.loginBtn:hover,
.nextBtn:hover,
.signupBtn:hover {
  background: rgb(255, 116, 146);
  cursor: pointer;
}

.signupLink,
.loginLink {
  font-size: 0.75rem;
  color: gray;
  margin: 0.4rem 0;
  cursor: pointer;
}

.signupPageFooter {
  display: flex;
}

.signupText {
  font-size: 0.75rem;
  margin: 0.4rem;
}
