.myPageHeader {
  background-color: rgb(255, 116, 146);
  display: flex;
  padding: 1rem;
  color: white;
  font-weight: 800;
  align-items: center;
  gap: 1rem;
}

.myPageHobby,
.myPageChange {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.myPageNavHobby,
.myPageNavInform,
.myPageNavLogout {
  font-size: 0.8rem;
  cursor: pointer;
}

.hobbyTitle,
.changeTitle {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 2rem 1rem 1rem 1rem;
}

.myHobby,
.otherHobby,
.newPw,
.newHobby {
  padding: 0.2rem;
}

.myHobbyTitle,
.otherHobbyTitle,
.newPwTitle,
.newHobbyTitle {
  font-weight: 800;
  padding: 0.3rem;
}

.myHobbyName {
  font-size: 0.8rem;
  color: gray;
  width: 15.5rem;
  padding: 0.3rem;
}

.inputOtherHobby,
.inputNewPw,
.inputNewHobby {
  width: 15rem;
  height: 2rem;
  margin: 0.2rem;
}

.searchBtn,
.changeBtn {
  width: 15.5rem;
  height: 2.2rem;
  margin: 0.2rem;
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
  background-color: rgb(250, 187, 196);
}

.searchBtn:hover,
.changeBtn:hover {
  background: rgb(255, 116, 146);
  cursor: pointer;
}
